<script src="create-post.component.ts"></script>
<mat-card class="card">
<h2 class="center">Create new post</h2>
  <mat-card-content>
    <mat-form-field class="title">
      <input type="text" [(ngModel)]="title" [formControl]="titleControl" matInput placeholder="Title" required>
      <mat-error *ngIf="titleControl.invalid">{{getTitleErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="email">
      <input type="email" [(ngModel)]="email" [formControl]="emailControl" matInput placeholder="Email" required>
      <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Max 256 characters">
      <textarea matInput [(ngModel)]="text"  maxlength="256" placeholder="Text" required></textarea>
      <mat-hint align="end">{{text?.length || 0}}/256</mat-hint>
    </mat-form-field>
  </mat-card-content>
  <button mat-raised-button [disabled]="isFormEmpty() || emailControl.invalid" (click)="create()">Create</button>
</mat-card>
