<mat-card class="card">
  <mat-card-header>
    <div class="mat-card-header-text">
      <mat-card-title class="full-width">
        <mat-form-field class="title">
          <input type="text" [(ngModel)]="title" matInput placeholder="Title">
        </mat-form-field>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-form-field class="email">
          <input type="email" [(ngModel)]="email" matInput placeholder="Email">
        </mat-form-field>
      </mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>
      <mat-form-field>
        <textarea [(ngModel)]="text" matInput placeholder="Text"></textarea>
      </mat-form-field>
    </p>
  </mat-card-content>
  <mat-card-actions class="card-info-container noselect">
    <div>
      <a class="clickable" (click)="create()">Create</a>
    </div>
  </mat-card-actions>
</mat-card>
